<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.grupohi.almacenes.controlmaquinaria">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ObraActivity"
            android:label="@string/tittle_activity_obra"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".ActividadActivity"
            android:label="@string/tittle_activity_actividad"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ActividadesActivity"
            android:label="@string/tittle_activity_actividades"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ActividadesIniciadasActivity"
            android:label="@string/tittle_activity_iniciadas"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".CierreActivity"
            android:label="@string/tittle_activity_cierre"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".AlertDialogActivity"
            android:label="Sesion"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".Alarma.NotificacionActividad"
            android:label="Details of notification"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <receiver   android:name=".Alarma.AlarmReciever"></receiver>

        <service
            android:name=".ActividadesService"
            android:enabled="true" >
        </service>
    </application>

</manifest>